{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="csrf_token" content="{{ csrf_token() }}">
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock head %}
{% block search %}
{% endblock search %}
{% block body %}
{% include "side_nav.html" %}
<div class="p-4 sm:ml-64">
        <div class="p-8 mb-10">
                <h1 class="text-3xl font-bold text-[#6b7280] text-center ">Submit a Ticket</h1>
                <p class="text-[#6b7280] text-center mb-8">All required fields are marked with<span class="text-red-500 ml-0.5">*</span></p>
                <form class="max-w-sm mx-auto" autocomplete="off" method="post" enctype="multipart/form-data" action="{{ url_for('create_ticket') }}">
                        {{ form.csrf_token }}
                        <input type="hidden" name="department" value="{{ request.args.get('department') or department }}">
                        <input type="hidden" name="service" value="{{ request.args.get('service') or service }}">
                        <div class="mb-5">
                                <div class="flex items-start" >
                                <label for="fullname"
                                        class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Full
                                                Name:</label><span class="text-red-500 ml-0.5">*</span></div>
                                {{ form.full_name(id="fullname",
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                                        required="" ) }}
                                {% if form.full_name.errors %}
                                <div class="text-red-500">
                                    {% for error in form.full_name.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="mb-5">
                                <div class="flex items-start" >
                                <label for="email"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label><span class="text-red-500 ml-0.5">*</span></div>
                                {{ form.email(id="email",
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",disabled=True
                                        ) }}
                                {% if form.email.errors %}
                                <div class="text-red-500">
                                    {% for error in form.email.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="mb-5">
                                <div class="flex items-start" >
                                <label for="regno"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Registration No:</label><span class="text-red-500 ml-0.5">*</span></div>
                                {{ form.reg_no(id="regno",
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                                        required=True) }}
                                {% if form.reg_no.errors %}
                                <div class="text-red-500">
                                    {% for error in form.reg_no.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="mb-5">
                                <div class="flex items-start" >
                                <label for="subject"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subject Concern:</label><span class="text-red-500 ml-0.5">*</span></div>
                                {{ form.subject(id="subject",
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                                        required=True) }}
                                {% if form.subject.errors %}
                                <div class="text-red-500">
                                    {% for error in form.subject.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="mb-5">
                        <div class="flex items-start" >
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                message:</label><span class="text-red-500 ml-0.5">*</span></div>
                                {{ form.message(id="message", rows="4",
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                                placeholder="Write your thoughts here...") }}
                                {% if form.message.errors %}
                                <div class="text-red-500">
                                    {% for error in form.message.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="mb-5">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">File attachments if any:</label>
                                {{ form.file_input(class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400", id="file_input") }}
                                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">Only PDF files are accepted (MAX: 2MB). Any other file extensions will be ignored.</p>
                                {% if form.file_input.errors %}
                                <div class="text-red-500">
                                    {% for error in form.file_input.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="mb-5" >
                                {{ form.recaptcha }}
                                {% if form.recaptcha.errors %}
                                <div class="text-red-500">
                                    {% for error in form.recaptcha.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                        {{ form.submit(class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:cursor-pointer") }}
                </form>
        </div>
</div>
<script>
// Warn the user against submitting a large file on the client side
document.getElementById("file_input").addEventListener("change", function() {
    const file = this.files[0];
    const maxSize = 2 * 1024 * 1024; // 2MB

    if (file && file.size > maxSize) {
        alert("File is too large! Maximum allowed size is 2MB.");
        this.value = ""; // Reset file input
    }
});
</script>
{% endblock body %}
