{% extends "base.html" %} {% block head %} {{ super() }}
<meta name="csrf_token" content="{{ csrf_token() }}" />
{% endblock head %} {% block search %} {% endblock search %} {% block body %} {%
include "side_nav.html" %}
<div class="p-4 sm:ml-64">
    <h1 class="text-3xl font-bold text-[#6b7280] text-center mb-8">
        All Tickets
    </h1>
    <p class="text-[#6b7280] text-center mb-8">
        These are the tickets that you submitted
    </p>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="max-h-[70vh] overflow-y-auto">
            <table
                class="w-full text-sm text-left rtl:text-right text-gray-500"
            >
                <thead
                    class="text-xs text-gray-700 uppercase bg-gray-50 sticky top-0"
                >
                    <tr>
                        <th scope="col" class="px-6 py-3">TicketID</th>
                        <th scope="col" class="px-6 py-3">Department</th>
                        <th scope="col" class="px-6 py-3">Service</th>
                        <th scope="col" class="px-6 py-3">Subject</th>
                        <th scope="col" class="px-6 py-3">Message</th>
                        <th scope="col" class="px-6 py-3">Status</th>
                        <th scope="col" class="px-6 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_ticket in user_tickets %}
                    <tr
                        class="odd:bg-white even:bg-gray-50 border-b border-gray-200"
                    >
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                        >
                            {{ user_ticket.ticket_id }}
                        </th>
                        <td class="px-6 py-4">{{ user_ticket.department }}</td>
                        <td class="px-6 py-4">{{ user_ticket.service }}</td>
                        <td class="px-6 py-4 max-w-xs truncate">
                            {{ user_ticket.subject }}
                        </td>
                        <td class="px-6 py-4 max-w-xs truncate">
                            {{ user_ticket.message }}
                        </td>
                        <td class="px-6 py-4 max-w-xs truncate">
                            {{ user_ticket.ticket_status }}
                        </td>
                        <td class="px-6 py-4">
                            <a
                                href="{{ url_for('edit_ticket',ticket_id=user_ticket.ticket_id) }}"
                                class="font-medium text-blue-600 hover:underline"
                                >Edit</a
                            >
                            |
                            <a
                                class="font-medium text-blue-600 hover:underline"
                                href="{{ url_for('view_ticket', ticket_id=user_ticket.ticket_id) }}"
                                >View More</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
